In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/train_data_final.csv")

In [3]:
df.head()

,Unnamed: 0,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,2518955,743d55408505dee752adc6e62b273f4397db6e89f19034...,2017-08-10,0.947242,0.002204,0.008002,1.007516,0.002830,0.453227,0.005992,...,NaN,NaN,0.003183,0.005264,0.007173,NaN,0.009359,0.004306,0.002719,0
1,1781039,522c85a354bfec790067b54e9db7353d20d4709ae5dc93...,2017-07-04,0.757648,0.002076,0.008751,0.814083,0.000408,0.155700,0.004156,...,NaN,NaN,1.000928,0.005655,0.891417,0.14907,1.009381,0.007953,0.095926,0
2,1488700,4488928018c20bf6261e69c8a94a47b6206a2fe91480b8...,2017-07-29,0.392041,0.005770,0.029682,0.810262,0.006672,0.180378,0.005028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,3174307,9296e983c3e4f99b046952397fc4ba950abf1032a9bd6c...,2017-03-30,0.673978,0.588604,0.295201,0.024650,0.007951,0.125583,0.008760,...,NaN,NaN,0.003558,0.008268,0.000429,NaN,0.005009,0.003020,0.002798,1
4,1379981,3fa10314686e0e51d8f76235eceab91d70aa3f24a98c3e...,2018-01-17,0.778075,0.006930,0.056721,0.819369,0.004922,0.089214,0.006884,...,NaN,NaN,0.004670,0.000125,0.003151,NaN,0.008442,0.000819,0.000342,0

In [4]:
df.shape

(276572, 192)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276572 entries, 0 to 276571
Columns: 192 entries, Unnamed: 0 to target
dtypes: float64(185), int64(3), object(4)
memory usage: 405.1+ MB

In [13]:
df.info(max_cols=193)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276572 entries, 0 to 276571
Data columns (total 192 columns):
 #    Column       Non-Null Count   Dtype
---   ------       --------------   -----
 0    Unnamed: 0   276572 non-null  int64
 1    customer_ID  276572 non-null  object
 2    S_2          276572 non-null  object
 3    P_2          274277 non-null  float64
 4    D_39         276572 non-null  float64
 5    B_1          276572 non-null  float64
 6    B_2          276476 non-null  float64
 7    R_1          276572 non-null  float64
 8    S_3          225400 non-null  float64
 9    D_41         276476 non-null  float64
 10   B_3          276476 non-null  float64
 11   D_42         39357 non-null   float64
 12   D_43         193452 non-null  float64
 13   D_44         262857 non-null  float64
 14   B_4          276572 non-null  float64
 15   D_45         276476 non-null  float64
 16   B_5          276572 non-null  float64
 17   R_2          276572 non-null  float64
 18   D_46         215973 non-null  float64
 19   D_47         276572 non-null  float64
 20   D_48         240733 non-null  float64
 21   D_49         27226 non-null   float64
 22   B_6          276568 non-null  float64
 23   B_7          276572 non-null  float64
 24   B_8          275402 non-null  float64
 25   D_50         119378 non-null  float64
 26   D_51         276572 non-null  float64
 27   B_9          276572 non-null  float64
 28   R_3          276572 non-null  float64
 29   D_52         275080 non-null  float64
 30   P_3          261411 non-null  float64
 31   B_10         276572 non-null  float64
 32   D_53         72394 non-null   float64
 33   S_5          276572 non-null  float64
 34   B_11         276572 non-null  float64
 35   S_6          276572 non-null  float64
 36   D_54         276476 non-null  float64
 37   R_4          276572 non-null  float64
 38   S_7          225400 non-null  float64
 39   B_12         276572 non-null  float64
 40   S_8          276572 non-null  float64
 41   D_55         267353 non-null  float64
 42   D_56         126557 non-null  float64
 43   B_13         274054 non-null  float64
 44   R_5          276572 non-null  float64
 45   D_58         276572 non-null  float64
 46   S_9          129671 non-null  float64
 47   B_14         276572 non-null  float64
 48   D_59         271173 non-null  float64
 49   D_60         276572 non-null  float64
 50   D_61         246765 non-null  float64
 51   B_15         276187 non-null  float64
 52   S_11         276572 non-null  float64
 53   D_62         238680 non-null  float64
 54   D_63         276572 non-null  object
 55   D_64         265523 non-null  object
 56   D_65         276572 non-null  float64
 57   B_16         276476 non-null  float64
 58   B_17         119556 non-null  float64
 59   B_18         276572 non-null  float64
 60   B_19         276476 non-null  float64
 61   D_66         31108 non-null   float64
 62   B_20         276476 non-null  float64
 63   D_68         265588 non-null  float64
 64   S_12         276572 non-null  float64
 65   R_6          276572 non-null  float64
 66   S_13         276572 non-null  float64
 67   B_21         276572 non-null  float64
 68   D_69         266689 non-null  float64
 69   B_22         276476 non-null  float64
 70   D_70         271759 non-null  float64
 71   D_71         276572 non-null  float64
 72   D_72         275379 non-null  float64
 73   S_15         276572 non-null  float64
 74   B_23         276572 non-null  float64
 75   D_73         2722 non-null    float64
 76   P_4          276572 non-null  float64
 77   D_74         275503 non-null  float64
 78   D_75         276572 non-null  float64
 79   D_76         31123 non-null   float64
 80   B_24         276572 non-null  float64
 81   R_7          276572 non-null  float64
 82   D_77         150464 non-null  float64
 83   B_25         276187 non-null  float64
 84   B_26         276476 non-null  float64
 85   D_78         262857 non-null  float64
 86   D_79         272703 non-null  float64
 87   R_8          276572 non-null  float64
 88   R_9          15681 non-null   float64
 89   S_16         276572 non-null  float64
 90   D_80         275503 non-null  float64
 91   R_10         276572 non-null  float64
 92   R_11         276572 non-null  float64
 93   B_27         276476 non-null  float64
 94   D_81         275282 non-null  float64
 95   D_82         73987 non-null   float64
 96   S_17         276572 non-null  float64
 97   R_12         276572 non-null  float64
 98   B_28         276572 non-null  float64
 99   R_13         276572 non-null  float64
 100  D_83         266689 non-null  float64
 101  R_14         276572 non-null  float64
 102  R_15         276572 non-null  float64
 103  D_84         275080 non-null  float64
 104  R_16         276572 non-null  float64
 105  B_29         18980 non-null   float64
 106  B_30         276476 non-null  float64
 107  S_18         276572 non-null  float64
 108  D_86         276572 non-null  float64
 109  D_87         213 non-null     float64
 110  R_17         276572 non-null  float64
 111  R_18         276572 non-null  float64
 112  D_88         294 non-null     float64
 113  B_31         276572 non-null  int64
 114  S_19         276572 non-null  float64
 115  R_19         276572 non-null  float64
 116  B_32         276572 non-null  float64
 117  S_20         276572 non-null  float64
 118  R_20         276569 non-null  float64
 119  R_21         276572 non-null  float64
 120  B_33         276476 non-null  float64
 121  D_89         275080 non-null  float64
 122  R_22         276572 non-null  float64
 123  R_23         276572 non-null  float64
 124  D_91         268616 non-null  float64
 125  D_92         276572 non-null  float64
 126  D_93         276572 non-null  float64
 127  D_94         276572 non-null  float64
 128  R_24         276572 non-null  float64
 129  R_25         276572 non-null  float64
 130  D_96         276572 non-null  float64
 131  S_22         275654 non-null  float64
 132  S_23         276544 non-null  float64
 133  S_24         275678 non-null  float64
 134  S_25         275863 non-null  float64
 135  S_26         276534 non-null  float64
 136  D_102        274529 non-null  float64
 137  D_103        271433 non-null  float64
 138  D_104        271433 non-null  float64
 139  D_105        125117 non-null  float64
 140  D_106        27014 non-null   float64
 141  D_107        271433 non-null  float64
 142  B_36         276572 non-null  float64
 143  B_37         276567 non-null  float64
 144  R_26         30545 non-null   float64
 145  R_27         270063 non-null  float64
 146  B_38         276476 non-null  float64
 147  D_108        1437 non-null    float64
 148  D_109        276481 non-null  float64
 149  D_110        1602 non-null    float64
 150  D_111        1602 non-null    float64
 151  B_39         1700 non-null    float64
 152  D_112        276438 non-null  float64
 153  B_40         276567 non-null  float64
 154  S_27         206608 non-null  float64
 155  D_113        267644 non-null  float64
 156  D_114        267644 non-null  float64
 157  D_115        267644 non-null  float64
 158  D_116        267644 non-null  float64
 159  D_117        267644 non-null  float64
 160  D_118        267644 non-null  float64
 161  D_119        267644 non-null  float64
 162  D_120        267644 non-null  float64
 163  D_121        267644 non-null  float64
 164  D_122        267644 non-null  float64
 165  D_123        267644 non-null  float64
 166  D_124        267644 non-null  float64
 167  D_125        267644 non-null  float64
 168  D_126        270645 non-null  float64
 169  D_127        276572 non-null  float64
 170  D_128        271433 non-null  float64
 171  D_129        271433 non-null  float64
 172  B_41         276534 non-null  float64
 173  B_42         3626 non-null    float64
 174  D_130        271433 non-null  float64
 175  D_131        271433 non-null  float64
 176  D_132        27085 non-null   float64
 177  D_133        274427 non-null  float64
 178  R_28         276572 non-null  float64
 179  D_134        9538 non-null    float64
 180  D_135        9538 non-null    float64
 181  D_136        9538 non-null    float64
 182  D_137        9538 non-null    float64
 183  D_138        9538 non-null    float64
 184  D_139        271433 non-null  float64
 185  D_140        274530 non-null  float64
 186  D_141        271433 non-null  float64
 187  D_142        46855 non-null   float64
 188  D_143        271433 non-null  float64
 189  D_144        274523 non-null  float64
 190  D_145        271433 non-null  float64
 191  target       276572 non-null  int64
dtypes: float64(185), int64(3), object(4)
memory usage: 405.1+ MB