In [7]:
import pandas as pd
import matplotlib as mp
contents = pd.read_csv("train_data_final.csv")

In [66]:
payment_variables = []
spending_variables = []
delinquency_variables = []
balance_variables = []
risk_variables = []
for column in contents.columns:
    if 'P' in column:
        payment_variables.append(column)
    if 'S' in column:
        spending_variables.append(column)
    if 'D' in column:
        delinquency_variables.append(column)
    if 'B' in column:
        balance_variables.append(column)
    if 'R' in column:
        risk_variables.append(column)

print(spending_variables)

['S_2', 'S_3', 'S_5', 'S_6', 'S_7', 'S_8', 'S_9', 'S_11', 'S_12', 'S_13', 'S_15', 'S_16', 'S_17', 'S_18', 'S_19', 'S_20', 'S_22', 'S_23', 'S_24', 'S_25', 'S_26', 'S_27']

In [14]:
pd.set_option('display.max_rows',None)
contents.info(max_cols=195,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276572 entries, 0 to 276571
Data columns (total 192 columns):
 #    Column       Non-Null Count   Dtype
---   ------       --------------   -----
 0    Unnamed: 0   276572 non-null  int64
 1    customer_ID  276572 non-null  object
 2    S_2          276572 non-null  object
 3    P_2          274277 non-null  float64
 4    D_39         276572 non-null  float64
 5    B_1          276572 non-null  float64
 6    B_2          276476 non-null  float64
 7    R_1          276572 non-null  float64
 8    S_3          225400 non-null  float64
 9    D_41         276476 non-null  float64
 10   B_3          276476 non-null  float64
 11   D_42         39357 non-null   float64
 12   D_43         193452 non-null  float64
 13   D_44         262857 non-null  float64
 14   B_4          276572 non-null  float64
 15   D_45         276476 non-null  float64
 16   B_5          276572 non-null  float64
 17   R_2          276572 non-null  float64
 18   D_46         215973 non-null  float64
 19   D_47         276572 non-null  float64
 20   D_48         240733 non-null  float64
 21   D_49         27226 non-null   float64
 22   B_6          276568 non-null  float64
 23   B_7          276572 non-null  float64
 24   B_8          275402 non-null  float64
 25   D_50         119378 non-null  float64
 26   D_51         276572 non-null  float64
 27   B_9          276572 non-null  float64
 28   R_3          276572 non-null  float64
 29   D_52         275080 non-null  float64
 30   P_3          261411 non-null  float64
 31   B_10         276572 non-null  float64
 32   D_53         72394 non-null   float64
 33   S_5          276572 non-null  float64
 34   B_11         276572 non-null  float64
 35   S_6          276572 non-null  float64
 36   D_54         276476 non-null  float64
 37   R_4          276572 non-null  float64
 38   S_7          225400 non-null  float64
 39   B_12         276572 non-null  float64
 40   S_8          276572 non-null  float64
 41   D_55         267353 non-null  float64
 42   D_56         126557 non-null  float64
 43   B_13         274054 non-null  float64
 44   R_5          276572 non-null  float64
 45   D_58         276572 non-null  float64
 46   S_9          129671 non-null  float64
 47   B_14         276572 non-null  float64
 48   D_59         271173 non-null  float64
 49   D_60         276572 non-null  float64
 50   D_61         246765 non-null  float64
 51   B_15         276187 non-null  float64
 52   S_11         276572 non-null  float64
 53   D_62         238680 non-null  float64
 54   D_63         276572 non-null  object
 55   D_64         265523 non-null  object
 56   D_65         276572 non-null  float64
 57   B_16         276476 non-null  float64
 58   B_17         119556 non-null  float64
 59   B_18         276572 non-null  float64
 60   B_19         276476 non-null  float64
 61   D_66         31108 non-null   float64
 62   B_20         276476 non-null  float64
 63   D_68         265588 non-null  float64
 64   S_12         276572 non-null  float64
 65   R_6          276572 non-null  float64
 66   S_13         276572 non-null  float64
 67   B_21         276572 non-null  float64
 68   D_69         266689 non-null  float64
 69   B_22         276476 non-null  float64
 70   D_70         271759 non-null  float64
 71   D_71         276572 non-null  float64
 72   D_72         275379 non-null  float64
 73   S_15         276572 non-null  float64
 74   B_23         276572 non-null  float64
 75   D_73         2722 non-null    float64
 76   P_4          276572 non-null  float64
 77   D_74         275503 non-null  float64
 78   D_75         276572 non-null  float64
 79   D_76         31123 non-null   float64
 80   B_24         276572 non-null  float64
 81   R_7          276572 non-null  float64
 82   D_77         150464 non-null  float64
 83   B_25         276187 non-null  float64
 84   B_26         276476 non-null  float64
 85   D_78         262857 non-null  float64
 86   D_79         272703 non-null  float64
 87   R_8          276572 non-null  float64
 88   R_9          15681 non-null   float64
 89   S_16         276572 non-null  float64
 90   D_80         275503 non-null  float64
 91   R_10         276572 non-null  float64
 92   R_11         276572 non-null  float64
 93   B_27         276476 non-null  float64
 94   D_81         275282 non-null  float64
 95   D_82         73987 non-null   float64
 96   S_17         276572 non-null  float64
 97   R_12         276572 non-null  float64
 98   B_28         276572 non-null  float64
 99   R_13         276572 non-null  float64
 100  D_83         266689 non-null  float64
 101  R_14         276572 non-null  float64
 102  R_15         276572 non-null  float64
 103  D_84         275080 non-null  float64
 104  R_16         276572 non-null  float64
 105  B_29         18980 non-null   float64
 106  B_30         276476 non-null  float64
 107  S_18         276572 non-null  float64
 108  D_86         276572 non-null  float64
 109  D_87         213 non-null     float64
 110  R_17         276572 non-null  float64
 111  R_18         276572 non-null  float64
 112  D_88         294 non-null     float64
 113  B_31         276572 non-null  int64
 114  S_19         276572 non-null  float64
 115  R_19         276572 non-null  float64
 116  B_32         276572 non-null  float64
 117  S_20         276572 non-null  float64
 118  R_20         276569 non-null  float64
 119  R_21         276572 non-null  float64
 120  B_33         276476 non-null  float64
 121  D_89         275080 non-null  float64
 122  R_22         276572 non-null  float64
 123  R_23         276572 non-null  float64
 124  D_91         268616 non-null  float64
 125  D_92         276572 non-null  float64
 126  D_93         276572 non-null  float64
 127  D_94         276572 non-null  float64
 128  R_24         276572 non-null  float64
 129  R_25         276572 non-null  float64
 130  D_96         276572 non-null  float64
 131  S_22         275654 non-null  float64
 132  S_23         276544 non-null  float64
 133  S_24         275678 non-null  float64
 134  S_25         275863 non-null  float64
 135  S_26         276534 non-null  float64
 136  D_102        274529 non-null  float64
 137  D_103        271433 non-null  float64
 138  D_104        271433 non-null  float64
 139  D_105        125117 non-null  float64
 140  D_106        27014 non-null   float64
 141  D_107        271433 non-null  float64
 142  B_36         276572 non-null  float64
 143  B_37         276567 non-null  float64
 144  R_26         30545 non-null   float64
 145  R_27         270063 non-null  float64
 146  B_38         276476 non-null  float64
 147  D_108        1437 non-null    float64
 148  D_109        276481 non-null  float64
 149  D_110        1602 non-null    float64
 150  D_111        1602 non-null    float64
 151  B_39         1700 non-null    float64
 152  D_112        276438 non-null  float64
 153  B_40         276567 non-null  float64
 154  S_27         206608 non-null  float64
 155  D_113        267644 non-null  float64
 156  D_114        267644 non-null  float64
 157  D_115        267644 non-null  float64
 158  D_116        267644 non-null  float64
 159  D_117        267644 non-null  float64
 160  D_118        267644 non-null  float64
 161  D_119        267644 non-null  float64
 162  D_120        267644 non-null  float64
 163  D_121        267644 non-null  float64
 164  D_122        267644 non-null  float64
 165  D_123        267644 non-null  float64
 166  D_124        267644 non-null  float64
 167  D_125        267644 non-null  float64
 168  D_126        270645 non-null  float64
 169  D_127        276572 non-null  float64
 170  D_128        271433 non-null  float64
 171  D_129        271433 non-null  float64
 172  B_41         276534 non-null  float64
 173  B_42         3626 non-null    float64
 174  D_130        271433 non-null  float64
 175  D_131        271433 non-null  float64
 176  D_132        27085 non-null   float64
 177  D_133        274427 non-null  float64
 178  R_28         276572 non-null  float64
 179  D_134        9538 non-null    float64
 180  D_135        9538 non-null    float64
 181  D_136        9538 non-null    float64
 182  D_137        9538 non-null    float64
 183  D_138        9538 non-null    float64
 184  D_139        271433 non-null  float64
 185  D_140        274530 non-null  float64
 186  D_141        271433 non-null  float64
 187  D_142        46855 non-null   float64
 188  D_143        271433 non-null  float64
 189  D_144        274523 non-null  float64
 190  D_145        271433 non-null  float64
 191  target       276572 non-null  int64
dtypes: float64(185), int64(3), object(4)
memory usage: 405.1+ MB

In [16]:
contents.notna().sum()

Unnamed: 0     276572
customer_ID    276572
S_2            276572
P_2            274277
D_39           276572
B_1            276572
B_2            276476
R_1            276572
S_3            225400
D_41           276476
B_3            276476
D_42            39357
D_43           193452
D_44           262857
B_4            276572
D_45           276476
B_5            276572
R_2            276572
D_46           215973
D_47           276572
D_48           240733
D_49            27226
B_6            276568
B_7            276572
B_8            275402
D_50           119378
D_51           276572
B_9            276572
R_3            276572
D_52           275080
P_3            261411
B_10           276572
D_53            72394
S_5            276572
B_11           276572
S_6            276572
D_54           276476
R_4            276572
S_7            225400
B_12           276572
S_8            276572
D_55           267353
D_56           126557
B_13           274054
R_5            276572
D_58           276572
S_9            129671
B_14           276572
D_59           271173
D_60           276572
D_61           246765
B_15           276187
S_11           276572
D_62           238680
D_63           276572
D_64           265523
D_65           276572
B_16           276476
B_17           119556
B_18           276572
B_19           276476
D_66            31108
B_20           276476
D_68           265588
S_12           276572
R_6            276572
S_13           276572
B_21           276572
D_69           266689
B_22           276476
D_70           271759
D_71           276572
D_72           275379
S_15           276572
B_23           276572
D_73             2722
P_4            276572
D_74           275503
D_75           276572
D_76            31123
B_24           276572
R_7            276572
D_77           150464
B_25           276187
B_26           276476
D_78           262857
D_79           272703
R_8            276572
R_9             15681
S_16           276572
D_80           275503
R_10           276572
R_11           276572
B_27           276476
D_81           275282
D_82            73987
S_17           276572
R_12           276572
B_28           276572
R_13           276572
D_83           266689
R_14           276572
R_15           276572
D_84           275080
R_16           276572
B_29            18980
B_30           276476
S_18           276572
D_86           276572
D_87              213
R_17           276572
R_18           276572
D_88              294
B_31           276572
S_19           276572
R_19           276572
B_32           276572
S_20           276572
R_20           276569
R_21           276572
B_33           276476
D_89           275080
R_22           276572
R_23           276572
D_91           268616
D_92           276572
D_93           276572
D_94           276572
R_24           276572
R_25           276572
D_96           276572
S_22           275654
S_23           276544
S_24           275678
S_25           275863
S_26           276534
D_102          274529
D_103          271433
D_104          271433
D_105          125117
D_106           27014
D_107          271433
B_36           276572
B_37           276567
R_26            30545
R_27           270063
B_38           276476
D_108            1437
D_109          276481
D_110            1602
D_111            1602
B_39             1700
D_112          276438
B_40           276567
S_27           206608
D_113          267644
D_114          267644
D_115          267644
D_116          267644
D_117          267644
D_118          267644
D_119          267644
D_120          267644
D_121          267644
D_122          267644
D_123          267644
D_124          267644
D_125          267644
D_126          270645
D_127          276572
D_128          271433
D_129          271433
B_41           276534
B_42             3626
D_130          271433
D_131          271433
D_132           27085
D_133          274427
R_28           276572
D_134            9538
D_135            9538
D_136            9538
D_137            9538
D_138            9538
D_139          271433
D_140          274530
D_141          271433
D_142           46855
D_143          271433
D_144          274523
D_145          271433
target         276572
dtype: int64

In [31]:
pd.set_option('display.max_rows',20)
contents[contents['P_2'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, customer_ID, S_2, P_2, D_39, B_1, B_2, R_1, S_3, D_41, B_3, D_42, D_43, D_44, B_4, D_45, B_5, R_2, D_46, D_47, D_48, D_49, B_6, B_7, B_8, D_50, D_51, B_9, R_3, D_52, P_3, B_10, D_53, S_5, B_11, S_6, D_54, R_4, S_7, B_12, S_8, D_55, D_56, B_13, R_5, D_58, S_9, B_14, D_59, D_60, D_61, B_15, S_11, D_62, D_63, D_64, D_65, B_16, B_17, B_18, B_19, D_66, B_20, D_68, S_12, R_6, S_13, B_21, D_69, B_22, D_70, D_71, D_72, S_15, B_23, D_73, P_4, D_74, D_75, D_76, B_24, R_7, D_77, B_25, B_26, D_78, D_79, R_8, R_9, S_16, D_80, R_10, R_11, B_27, D_81, D_82, S_17, R_12, B_28, R_13, ...]
Index: []

[0 rows x 192 columns]

In [29]:
contents['P_2'] = contents['P_2'].fillna(contents['P_2'].median())

In [33]:
contents['target'].value_counts()

0    207727
1     68845
Name: target, dtype: int64

In [74]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

payment_variables_target = payment_variables.copy()
payment_variables_target.append('target')

contents[payment_variables_target].corr()['target']

P_2      -0.606831
P_3      -0.244047
P_4       0.235485
target    1.000000
Name: target, dtype: float64

In [73]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

spending_variables_target = spending_variables.copy()
spending_variables_target.append('target')

contents[spending_variables_target].corr()['target']

S_3       0.320134
S_5       0.050241
S_6      -0.097703
S_7       0.331939
S_8      -0.153841
S_9       0.072419
S_11     -0.085083
S_12      0.007074
S_13     -0.106919
S_15      0.189984
S_16      0.068111
S_17      0.035257
S_18     -0.009101
S_19      0.012374
S_20      0.132843
S_22      0.090131
S_23      0.170658
S_24      0.097905
S_25     -0.247013
S_26     -0.045096
S_27     -0.024480
target    1.000000
Name: target, dtype: float64

In [72]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

delinquency_variables_target = delinquency_variables.copy()
delinquency_variables_target.append('target')

contents[delinquency_variables_target].corr()['target']

D_39      0.176520
D_41      0.246224
D_42      0.332121
D_43      0.281167
D_44      0.469934
D_45     -0.270465
D_46      0.156016
D_47     -0.279243
D_48      0.547005
D_49     -0.016257
D_50     -0.085804
D_51     -0.248136
D_52     -0.226090
D_53      0.223869
D_54     -0.136309
D_55      0.456379
D_56     -0.143396
D_58      0.448358
D_59      0.192445
D_60     -0.078383
D_61      0.496994
D_62     -0.351227
D_65      0.104801
D_66     -0.049726
D_68     -0.172907
D_69      0.011638
D_70      0.301883
D_71     -0.074754
D_72      0.181424
D_73     -0.095825
D_74      0.419973
D_75      0.455876
D_76     -0.115792
D_77     -0.333910
D_78      0.270571
D_79      0.222630
D_80      0.057945
D_81      0.179925
D_82      0.020139
D_83      0.079472
D_84      0.187203
D_86     -0.065253
D_87           NaN
D_88      0.153772
D_89      0.110953
D_91     -0.121785
D_92     -0.147375
D_93     -0.036551
D_94     -0.069987
D_96     -0.062009
D_102     0.021581
D_103     0.122586
D_104     0.121896
D_105    -0.031611
D_106    -0.012270
D_107     0.120675
D_108     0.093101
D_109    -0.020707
D_110     0.155401
D_111     0.139976
D_112    -0.220034
D_113     0.157324
D_114    -0.190025
D_115    -0.174521
D_116     0.028340
D_117    -0.107138
D_118    -0.168116
D_119    -0.166543
D_120     0.190476
D_121    -0.166361
D_122    -0.154165
D_123     0.051528
D_124     0.054208
D_125     0.070004
D_126    -0.029744
D_127    -0.180724
D_128    -0.188132
D_129    -0.136158
D_130     0.211819
D_131     0.233559
D_132    -0.096324
D_133     0.139575
D_134    -0.010630
D_135     0.001420
D_136     0.050192
D_137     0.019735
D_138     0.032412
D_139     0.128645
D_140     0.114887
D_141     0.125770
D_142    -0.058096
D_143     0.128630
D_144    -0.002666
D_145     0.116041
target    1.000000
Name: target, dtype: float64

In [71]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

balance_variables_target = balance_variables.copy()
balance_variables_target.append('target')

contents[balance_variables_target].corr()['target']

B_1       0.386185
B_2      -0.480921
B_3       0.425635
B_4       0.402672
B_5      -0.068546
B_6      -0.095293
B_7       0.430059
B_8       0.323230
B_9       0.471563
B_10     -0.020117
B_11      0.364999
B_12     -0.044047
B_13     -0.032742
B_14      0.081831
B_15      0.007691
B_16      0.395181
B_17      0.270225
B_18     -0.486525
B_19      0.385684
B_20      0.380335
B_21      0.088228
B_22      0.366588
B_23      0.422405
B_24      0.109979
B_25      0.183590
B_26      0.017413
B_27      0.004888
B_28      0.223733
B_29      0.061650
B_30      0.351807
B_31     -0.061597
B_32      0.102343
B_33     -0.452216
B_36      0.046426
B_37      0.383575
B_38      0.388781
B_39     -0.099193
B_40      0.047127
B_41      0.094847
B_42     -0.127799
target    1.000000
Name: target, dtype: float64

In [75]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

risk_variables_target = risk_variables.copy()
risk_variables_target.append('target')

contents[risk_variables_target].corr()['target']

R_1       0.363745
R_2       0.263613
R_3       0.286312
R_4       0.220099
R_5       0.165115
R_6       0.106384
R_7       0.062832
R_8       0.151606
R_9      -0.013804
R_10      0.236563
R_11      0.094499
R_12     -0.135348
R_13      0.097994
R_14      0.040062
R_15      0.127931
R_16      0.127347
R_17      0.074545
R_18      0.003557
R_19      0.097373
R_20      0.112410
R_21      0.151843
R_22      0.064700
R_23      0.018468
R_24      0.151508
R_25      0.064303
R_26      0.133191
R_27     -0.274128
R_28      0.027718
target    1.000000
Name: target, dtype: float64

In [81]:
columna = 'S_' + '3'
contents[columna].min()

-0.4430886481493405

In [ ]:
#contents.plot.scatter(x='deposit',y='target',c=contents['target'].map({0:'r',1:'g'}),alpha=0.01)